{#
/**
 * @file sms_message_entity.html.twig
 * Default theme implementation to present Sms Message Entity data.
 *
 * This template is used when viewing Sms Message Entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sms_message_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('sms_message_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
